.main-wrapper {
  padding: 15px 30px 30px 30px;
}
.app-row-col {
  display: flex;
  flex-direction: column;
  gap: 10px
}
.app-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}