.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative
}

.time {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
}

.connection-info {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  padding-right: 20px;
}

.rabbit-ear {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 40px;
  width: 220px;
  background-color: black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}