.date-wrapper {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 25px;
}

.weather-widget-wrapper {
  background: linear-gradient(to right, #3c70d1 0%, #63a7b8 100%);
  gap:5px
}
.weather-widget-wrapper .temperature {
  font-size: 50px
}
.month {
  color: gray;
  font-size: 20px
}
.day-of-week {
  color: red;
  font-size: 28px
}
.day-of-month {
  color: black;
  font-size: 50px
}


.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-wrapper:hover {
  cursor: pointer;
}

.app-icon {
  width: 70px;
  height: 70px;
  background-size: contain
}
.face-time-icon {
  background-image: url(../../../../../../public/images/facetime.svg);
}
.app-name {
  color: white;
  font-size: 14px;
  padding-top: 5px;
}
.calendar-icon {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calendar-icon .day-of-week {
  color: red;
  font-size: 15px;
}

.calendar-icon .day-of-month {
  color: black;
  font-size: 40px;
}
.photos-icon {
  background-image: url(../../../../../../public/images/photos.svg);
}
.camera-icon {
  background-image: url(../../../../../../public/images/camera.svg);
}

.settings-icon {
  background-image: url(../../../../../../public/images/settings.svg);
}

.files-icon {
  background-image: url(../../../../../../public/images/files.svg);
}
.apple-tv-icon {
  background-image: url(../../../../../../public/images/apple-tv.svg);
}
.apple-store-icon {
  background-image: url(../../../../../../public/images/app-store.svg);
}
.instagram-icon {
  background-image: url(../../../../../../public/images/instagram.svg);
}
.facebook-icon {
  background-image: url(../../../../../../public/images/facebook.svg);
}
.messenger-icon {
  background-image: url(../../../../../../public/images/messenger.svg);
  
}
.twitter-icon {
  background-image: url(../../../../../../public/images/twitter.svg);
}
.calculator-icon {
  background-image: url(../../../../../../public/images/calculator.svg);
}
.weather-app-icon {
  background-image: url(../../../../../../public/images/weather.svg);
}
.notes-icon {
  background-image: url(../../../../../../public/images/notes.svg);
}
.health-icon {
  background-image: url(../../../../../../public/images/health.svg);
}
.ios-message-icon {
  background-image: url(../../../../../../public/images/ios-message.svg);
}
.mail-icon {
  background-image: url(../../../../../../public/images/mail.svg);
}
.safari-icon {
  background-image: url(../../../../../../public/images/safari.svg);
}
.my-shortcuts-icon {
  background-image: url(../../../../../../public/images/my-shortcuts.svg);
}
.search-icon {
  padding-right: 8px;
  font-size: 13px;
}
.search-wrapper {
  background-color:rgba(51, 43, 50, 0.5);
  height: 40px;
  width:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.search-wrapper > div {
  padding-bottom: 3px;
  font-weight: 600;
}