.date-wrapper {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
}

.month {
  color: gray;
}
.day-of-week {
  color: red;
  font-size: calc(12px + 2vmin)
}
.day-of-month {
  color: black;
  font-size: calc(40px + 2vmin)
}