.button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  cursor: pointer;
}
.button-top-operation {
  background-color: #a0a0a0;
  color: black;
}

.button-right-operation {
  background-color: #f69906;
  color: white;
}

.button-center-number {
  background-color: #313131;
  color: white;
}

.button-special-center-number {
  width: 215px;
  background-color: #313131;
  color: white;
  border-radius: 50px;
}